@using Vista.Services
@using Vista.Components.Vehiculos
@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/embarcaciones"

<style>
    .template {
        width: 100%;
        height: 100%;
        max-width: 97%;
        min-width: 400px;
        max-height: 100vh;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em;
        padding: 0;
        overflow: auto;
    }

    .grid {
        max-width: 1300px;
        min-width: 320px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 12px;
        margin: 30px 0;
        overflow: auto;
    }

    @@media screen and (max-width: 1048px) {
        .grid {
            flex-direction: column;
            align-items: center;
        }
    }

    @@media screen and (max-width: 719px) {
        .grid {
            flex-direction: column;
            align-items: center;
        }
    }
</style>

<div class="template">
    <div class="grid">
        <div style="display: flex;justify-content: space-between;width: 100%;min-width: 320px;align-items: center;">
            <div style="position: relative;">
                <p style="font-family:'Agency FB';width: 15em;position: absolute; transform: translate(0%, -50%);font-size: 1.5em;display: contents;">
                    <b>ALTA / BAJA / MODIFICACION DE EMBARCACION</b>
                </p>
            </div>
            <div style="display: flex; gap: 5px;">
                <a @onclick="@(() => { navigationManager.NavigateTo($"/moviles/Embarcaciones-baja"); })">
                    <Button Style="background: rgb(62, 24, 24);color: #fff;border: none;">Embarcaciones de baja</Button>
                </a>
                <a @onclick="()=>AgregarVisible = true">
                    <Button Style="background: rgb(62, 24, 24);color: #fff;border: none;">Agregar embarcacion</Button>
                </a>
            </div>
        </div>
        @if (embarcaciones is not null)
        {
            @foreach(Embarcacion m in embarcaciones)
            {
                if (m.Estado != TipoEstadoMovil.Activo) continue;
                <VehiculosCarta Vehiculo="m" OnChange="Init" />
            }
        }
        else
        {
            <div style="display: flex; justify-content: center;width: 100%;margin: 1em 1em;">
                <Spin Delay="500" Indicator=antIcon />
            </div>
        }
    </div>
</div>

<Modal Footer="null" Title="Agregar" OnCancel="()=> AgregarVisible = false" Visible="@AgregarVisible">
    <VehiculoAgregar OnClose="CloseVehiculo" EsMovil="false" />
</Modal>

@code {
    RenderFragment antIcon = @<Icon Type="loading" Theme="outline" Style="font-size: 24px; text-align: center; color: rgb(62, 24, 24);" Spin />;
    public Embarcacion[]? embarcaciones;
    bool AgregarVisible { get; set; }
    BomberosDbContext Context { get; set; }

    private async Task CloseVehiculo()
    {
        AgregarVisible = false;
        await Init();
    }

    protected override async Task OnInitializedAsync()
    {
        await Init();
    }

    private async Task Init()
    {
        Context = DbFactory.CreateDbContext();

        embarcaciones = await Context.Embarcacion.ToArrayAsync();
    }

    public void Dispose()
    {
        Context?.Dispose();
    }
}


