@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@using Vista.Helpers;
@page "/"

<div class="bannerImg">
    <img style="height: 100vh; width: 100%;" src="imagenes/bomberindex.jpg" asp-append-version="true" />
    <h2 class="border">BOMBEROS V.C.</h2>
    <h2 class="wave">BOMBEROS V.C.</h2>
</div>
<div class="indexCont">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d409.06599683140723!2d-60.018304051505964!3d-34.89319762296309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bea549b89c92c3%3A0xf5d09238b61d6e33!2sBomberos%20de%20Chivilcoy!5e0!3m2!1ses-419!2sar!4v1688997377809!5m2!1ses-419!2sar" width="800" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div>
        <p>2346 42-4319</p>
    </div>
</div>
<div style="height: 100%;width: 100%;position: relative;">
    <Footer Style="display: flex; flex-direction: row;background-color: rgb(62, 24, 24); width: 100%;color: white;position: absolute; bottom: 0;">
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy;2022 <b>Bomberos Voluntarios Chivilcoy</b> - Todos los Derechos Reservados.</small></div>
        </div>
    </Footer>
</div>
@code {
}