@page "/Reportes/ImprimirRB"
@inject NavigationManager navigationManager
@layout EmptyLayout

<style>
    .ant-table-title {
        display: none !important;
    }

    .ant-table-pagination.ant-pagination {
        display: none !important;
    }

    .ant-btn {
        display: none !important;
    }
</style>

<div>
    <HistorialBomberos />
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            navigationManager.NavigateTo("javascript:window.print()");
        }
    }
}