@page "/Reportes/HistorialSalidas"
@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json;
@using Vista.Data.ViewModels.FactorClimatico;
@using Vista.Data.ViewModels.Incendios;
@using Vista.Data.ViewModels.MaterialesPeligrosos;
@using Vista.Data.ViewModels.Personal;
@using Vista.Data.ViewModels.Accidente;
@using Vista.Data.ViewModels;
@using Vista.Data.ViewModels.Rescates;

<div style="margin-top: 2em;">
    <Table DataSource="salidasViewModel" OnChange="OnChange" TItem="SalidasViewModel1" Responsive PageSize="6">
        <TitleTemplate>
            <GridRow>
                <GridCol Span="4">
                    <Title Level="3">Registro Salidas</Title>
                </GridCol>
                <GridCol Span="8" Offset="12">
                    <Search Placeholder="Search Name" @bind-Value="searchString" OnSearch="()=>_table?.ReloadData()" />
                </GridCol>
            </GridRow>
        </TitleTemplate>
        <ColumnDefinitions>
            <PropertyColumn Title="N° Parte" Property="c=>c.NumeroParte"
                            DefaultSortOrder="@SortDirection.Descending"
                            SorterCompare="@((a,b)=> a - b)" />
            <PropertyColumn Title="Direccion" Property="c=>c.EntreCalles"
                            DefaultSortOrder="@SortDirection.Descending"
                             />
             <TableFilter MatchMode="MatchMode.Contains" FilterCallback="OnFilterChanged" />
            <PropertyColumn Title="Tipo Salida" Property="c=>c.Discriminador"
                            SortDirections="new[] { SortDirection.Descending }"
                            Filters="DiscriminadorFilter"
                            OnFilter="((value,name)=>Enum.GetName(typeof(TipoSalida), name).StartsWith(Enum.GetName(typeof(TipoSalida), value)))" />

            <ActionColumn Title="Action">
                <Space>
                    <SpaceItem><Button Danger OnClick="()=>Delete(context.NumeroParte)">Delete</Button></SpaceItem>
                    <SpaceItem><Button Type="primary" OnClick="()=>ShowModalEditar(context.SalidaId)">Editar</Button></SpaceItem>
                    <SpaceItem><Button Type="primary" OnClick="()=>ShowModalDetalle(context.SalidaId)">Detalles</Button></SpaceItem>
                </Space>
            </ActionColumn>
            @*<Column Title="Salidas" @bind-Field="@discriminadores" Sortable />*@
        </ColumnDefinitions>
    
    </Table>
 </div>

@*-----------------------------------------------------------Modal Detalles-----------------------------------------------------------------------------------------*@


@if (mostrarDetalle is true)
{
    <DetalleSalida @key="salidaId" salidaId="salidaId" />
}
@if (mostrarEditar is true)
{
    <EditarSalida @key="salidaId" salidaId="salidaId" />
    mostrarEditar = false;
}



@*Se traen los datos de salida generales y discriminador*@
@code {
    bool autoCOnfir = false;
    string searchString;
    IEnumerable<Salida> dataSource;
    ITable _table;
    int _total = 0;
    TipoSalida discriminadoresSalidas;

    List<SalidasViewModel1>? salidasViewModel = new List<SalidasViewModel1>();
    List<string> discriminadores = new List<string>();
    private TableFilter<TipoSalida>[] DiscriminadorFilter;
    List<SalidasViewModel1>? salidasViewModelCarga = new List<SalidasViewModel1>();
    List<Salida>? salidas;
    Bombero[] TodosBomberos;
    Movil[] Moviles;
    public List<BomberoViweModel> bomberoChoferes = new();


    protected override async Task OnInitializedAsync()
    {
        using var db = await DbFactory.CreateDbContextAsync();
        //Llamo a los datos de la tabla sallida co sus respectivas listas y objetos
        salidas = db.Set<Salida>()
        .Include(s => s.Moviles)
            .ThenInclude(ms => ms.Movil)

            .Include(s => s.Moviles)
            .ThenInclude(ms => ms.Chofer)
        .Include(s => s.CuerpoParticipante).ThenInclude(cp => cp.Bombero)
        .Include(s => s.ReceptorBombero).ThenInclude(rb => rb.Contacto)
        .Include(s => s.Encargado).ThenInclude(e => e.Brigada)
        .Include(s => s.QuienLleno).ThenInclude(ql => ql.Brigada)
        .ToList();

        //traigo el discriminados de cada elemento la tabla salidas
        foreach (var entidad in salidas)
        {
            var entry = db.Entry(entidad);
            var entityType = entry.Metadata;
            var discriminatorProperty = entityType.FindDiscriminatorProperty();
            var discriminatorValue = entry.CurrentValues[discriminatorProperty];

            string discriminador = discriminatorValue?.ToString();
            int discriminadorNumero = (int.Parse(discriminador)) - 1;// le bajo un valor para que sea congruente a como esta cargado en el 
                                                                     //enum tipo salida(empiezan desde el valor 0 y en el dbContext empieza desde el 1)
            discriminador = discriminadorNumero.ToString();
            discriminadores.Add(discriminador);
        }
        GetSalidasViewModel(salidas);

        //Filtro del discriminador, le asigno un valor de un enum a cada numero discriminador
        DiscriminadorFilter = new TableFilter<TipoSalida>[Enum.GetValues(typeof(TipoSalida)).Length];
        int i = 0;
        foreach (TipoSalida value in Enum.GetValues(typeof(TipoSalida)))
        {
            DiscriminadorFilter[i] = new() { Text = Enum.GetName(typeof(TipoSalida), value), Value = value };
            i++;
        }

        TodosBomberos = await db.Bomberos.ToArrayAsync();
        Moviles = await db.Moviles.ToArrayAsync();
        CargarBomberosView();
        StateHasChanged();
    }

    void OnChange(QueryModel<SalidasViewModel1> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));

        //dataSource = query.ExecuteQuery(data.AsQueryable())
        //    .Where(x => string.IsNullOrWhiteSpace(searchString) || x.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase));
    }

    void OnRowClick(RowData<SalidasViewModel1> row)
    {
        Console.WriteLine($"row {row.Data.SalidaId} was clicked");
    }

    private async void Delete(int id)
    {
        using var context = DbFactory.CreateDbContext();
        Salida? salida = await context.Set<Salida>().Where(s => s.NumeroParte == id).SingleOrDefaultAsync();
        context.Remove(salida);
        salidas = salidas.Where(x => x.NumeroParte != id).ToList();
        salidasViewModel = salidasViewModel.Where(x => x.NumeroParte != id).ToList();
        _total = salidas.Count;
        
        await context.SaveChangesAsync();
        StateHasChanged();
    }
}

@*Carga de modales para mostrar detalles*@
@code{
    private AccidenteViewModels accidenteViewModels = new();
    private FactorClimaticoViewModels factorClimaticoViewModel = new();
    private MaterialPeligrosoViewModels materialPeligrosoViewModel = new();
    private RescateAnimaViewModels rescateAnimalViewModel = new();
    private RescatePersonaViewModels rescatePersonaViewModel = new();
    private IncendioViewModels IncendioViewModel = new();
    private IncendioEstablecimientoEducativoViewModels incendioEstablecimientoEducativoViewModel = new();
    private IncendioEstablecimientoPublicoViewModels incendioEstablecimientoPublicoViewModel = new();
    private IncendioForestaViewModels IncendioForestalViewModel = new();
    private IncendioHospitalesYClinicasViewModels IncendioHospitalesYClinicasViewModel = new();
    private IncendioIndustriaViewModels IncendioIndustriaViewModel = new();
    private IncendioViviendaViewModels IncendioViviendaViewModel = new();
    private IncendioComercioViewModels IncendioComercioViewModel = new();

    private Data.ViewModels.Servicios.ServicioEspecialPrevencionViewModels servicioEspecialPrevencionViewModel = new();
    private Data.ViewModels.Servicios.ServicioEspecialRepresentacionViewModels servicioEspecialRepresentacionViewModel = new();
    private Data.ViewModels.Servicios.ServicioEspecialPrevencionViewModels servicioEspecialViewModel = new();

    List<AccidenteViewModels> accidentesVM = new List<AccidenteViewModels>();

    private async void  GetSalidasViewModel(List<Salida> salidas)
    {
        //db.Set<Salida>().ToList();
        using var context = await DbFactory.CreateDbContextAsync();


        int contador = 0;
        foreach (Salida s in salidas)
        {
            List<Damnificado>? damificado = await context.Damnificados
                .Where(D => D.SalidaId == s.SalidaId).Include(vd => vd.VehiculoDamnificado).ThenInclude(seg =>seg.Seguro)
                .ToListAsync();
            SalidasViewModel1 NuevaSalidaVM = new SalidasViewModel1()
            {
                    SalidaId = s.SalidaId,
                    HoraSalida= s.HoraSalida,
                    HoraLLegada = s.HoraLlegada,
                    //KmSalida= s.KmSalida,
                    //KmLlegada=s.KmLlegada,
                    NumeroParte= s.NumeroParte,
                    Descripcion=s.Descripcion,
                    CalleORuta=s.CalleORuta,
                    NumeroOKilometro=s.NumeroOKilometro,
                    EntreCalles= s.EntreCalles,
                    PisoNumero= s.PisoNumero,
                    Depto=s.Depto,
                    TipoZona=s.TipoZona,
                    NombreSolicitante= s.NombreSolicitante,
                    ApellidoSolicitante= s.ApellidoSolicitante,
                    DniSolicitante=s.DniSolicitante,
                    TelefonoSolicitante= s.TelefonoSolicitante,
                    NombreYApellidoReceptor=s.NombreYApellidoReceptor,
                    TelefonoReceptor=s.TelefonoReceptor,
                    ReceptorId=s.ReceptorId,
                    ReceptorBombero = s.ReceptorBombero,
                    Damnificados = damificado,
                    Moviles = s.Moviles,
                    Seguro=s.Seguro,
                    CuerpoParticipante = s.CuerpoParticipante,
                    EncargadoId=s.EncargadoId,
                    Encargado= s.Encargado,
                    QuienLleno = s.QuienLleno,
                    QuienLlenoId=s.QuienLlenoId,
                    TipoServicio=s.TipoServicio,
                    Discriminador = (TipoSalida)int.Parse(discriminadores[contador])
            };
            
            salidasViewModel.Add(NuevaSalidaVM);

            contador++;
        }
        StateHasChanged();

    }
}


@*Modal Editar*@




@code {
    int numeroParteVisualizar;
    public bool mostrarDetalle= false;
    public bool mostrarEditar= false;
    int salidaId;

    public List<BomberoViweModel> bomberoTodos = new();
    private void ShowModalDetalle(int Id)
    {

        numeroParteVisualizar = salidasViewModel.FindIndex(n => n.SalidaId == Id);
        mostrarDetalle = true;
        salidaId = Id;


    }
    private void ShowModalEditar(int Id)
    {
        numeroParteVisualizar = salidasViewModel.FindIndex(n => n.SalidaId == Id);
        mostrarEditar= true;
        salidaId = Id;
    }

    
    private void OnChange(DateTimeChangedEventArgs args)
    {
        Console.WriteLine($"Selected Time: {args.Date}");
        Console.WriteLine($"Formatted Selected Time: {args.DateString}");
    }
    //private async void GetMovilSaidasViewModel(){
    //    using var db = await DbFactory.CreateDbContextAsync();
    //    foreach (MovilSalidaViewModels m in MovilesSalidasL)
    //    {
    //        Bombero? bomberoChofer = await db.Bomberos.Where(b => b.NumeroLegajo == m.Chofer.NumeroLegajo).SingleOrDefaultAsync();
    //        Movil? Movilsalida = await db.Moviles.Where(mob => mob.NumeroMovil == m.MovilesSalida.NumeroMovil).SingleOrDefaultAsync();
    //        MovilSalida movilS = new()
    //        {
    //                CargoCombustible = m.CargoCombustible,
    //                Chofer = bomberoChofer,
    //                Movil = Movilsalida
    //        };
    //            salidaIncendioComercio.Moviles.Add(movilS);
    //    }
    //}
    public void CargarBomberosView()
    {

        foreach (Bombero b in TodosBomberos)
        {
            BomberoViweModel bombero = new()
                {
                    FechaNacimiento = b.FechaNacimiento,
                    Sexo = b.Sexo,
                    Nombre = b.Nombre,
                    Apellido = b.Apellido,
                    Documento = b.Documento,
                    NumeroLegajo = b.NumeroLegajo,
                    NumeroIoma = b.NumeroIoma,
                    LugarNacimiento = b.LugarNacimiento,
                    Grado = b.Grado,
                    //NombreImagen = b.NombreImagen,
                    //TipoImagen = b.TipoImagen,
                    //Base64Imagen = b.Base64,
                    Dotacion = b.Dotacion,
                    //Nombre = b.NombreBrigada,
                    Resolucion1 = b.Resolucion1,
                    Resolucion2 = b.Resolucion2,
                    Resolucion3 = b.Resolucion3,
                    Resolucion4 = b.Resolucion4,
                    Resolucion5 = b.Resolucion5,
                    Resolucion6 = b.Resolucion6,
                    //GrupoSanguineo = Enum.GetName(typeof(TipoGrupoSanguineo), b.GrupoSanguineo),
                    Estado = b.Estado,
                    Chofer = b.Chofer,
                    VencimientoRegistro = b.VencimientoRegistro,
                    Direccion = b.Direccion,
                    Observaciones = b.Observaciones,
                    Profesion = b.Profesion,
                    NivelEstudios = b.NivelEstudios,
                    FechaAceptacion = b.FechaAceptacion,
                    //TelefonoCel = b.TelefonoCel,
                    //TelefonoFijo = b.TelefonoFijo,
                    //TelefonoLaboral = b.TelefonoLaboral,
                    //Email = b.Email,

                };
            bomberoTodos.Add(bombero);
            if (b.Chofer == true)
            {
                BomberoViweModel bomberoChofer = new()
                    {
                        FechaNacimiento = b.FechaNacimiento,
                        Sexo = b.Sexo,
                        Nombre = b.Nombre,
                        Apellido = b.Apellido,
                        Documento = b.Documento,
                        NumeroLegajo = b.NumeroLegajo,
                        NumeroIoma = b.NumeroIoma,
                        LugarNacimiento = b.LugarNacimiento,
                        Grado = b.Grado,
                        //NombreImagen = b.NombreImagen,
                        //TipoImagen = b.TipoImagen,
                        //Base64Imagen = b.Base64,
                        Dotacion = b.Dotacion,
                        //Nombre = b.NombreBrigada,
                        Resolucion1 = b.Resolucion1,
                        Resolucion2 = b.Resolucion2,
                        Resolucion3 = b.Resolucion3,
                        Resolucion4 = b.Resolucion4,
                        Resolucion5 = b.Resolucion5,
                        Resolucion6 = b.Resolucion6,
                        //GrupoSanguineo = Enum.GetName(typeof(TipoGrupoSanguineo), b.GrupoSanguineo),
                        Estado = b.Estado,
                        Chofer = b.Chofer,
                        VencimientoRegistro = b.VencimientoRegistro,
                        Direccion = b.Direccion,
                        Observaciones = b.Observaciones,
                        Profesion = b.Profesion,
                        NivelEstudios = b.NivelEstudios,
                        FechaAceptacion = b.FechaAceptacion,
                        //TelefonoCel = b.TelefonoCel,
                        //TelefonoFijo = b.TelefonoFijo,
                        //TelefonoLaboral = b.TelefonoLaboral,
                        //Email = b.Email,

                    };
                bomberoChoferes.Add(bomberoChofer);
            }
        }
    }

    
}