@* @page "/vista"

@using AntDesign

<h3>Detalles de Ascenso @AscensoVM.FechaEmision </h3>

@code {
    private AscensoViewModel model = new AscensoViewModel();

    public class AscensoViewModel
    {
        public Bombero? PersonalAfectado { get; set; } 

        public DateTime FechaEmision { get; set; }

        public string? Descripcion { get; set; }

        public EscalafonJerarquico GradoAntiguo { get; set; }

        public EscalafonJerarquico GradoAscenso { get; set; }
    }




    AscensoViewModel AscensoVM  { get; set; } = new() ;

} *@

@page "/vista"
@using AntDesign

<h3>Detalles de Ascenso @AscensoVM.FechaEmision </h3>

<AntSelect Value="AscensoVM.GradoAscenso" ValueChanged="HandleGradoAscensoChanged">
    @foreach (EscalafonJerarquico jerarquia in Enum.GetValues(typeof(EscalafonJerarquico)))
    {
        <AntSelectOption Value="@jerarquia">@jerarquia</AntSelectOption>
    }
</AntSelect>



@code {
    private AscensoViewModel model = new AscensoViewModel();

    public class AscensoViewModel
    {
       
        
            public Bombero? PersonalAfectado { get; set; }

            public DateTime FechaEmision { get; set; }

            public string? Descripcion { get; set; }

            public EscalafonJerarquico GradoAntiguo { get; set; }

            public EscalafonJerarquico GradoAscenso { get; set; }
     
    }

            AscensoViewModel AscensoVM { get; set; } = new();

    void HandleGradoAscensoChanged (EscalafonJerarquico nuevoGrado)
    {
        AscensoVM.GradoAscenso = nuevoGrado;
    }


    public enum EscalafonJerarquico
    {
        ComandanteGeneral,
        ComandanteMayor,
        Comandante,
        SubComandante,
        OficialAuxiliarDotacion,
        OficialAuxiliarEscuadra,
        OficialAuxiliar,
        SubOficialAyudanteMayor,
        SubOficialAyudantePrincipal,
        SubOficialAyudantePrimera,
        SubOficialAyudante,
        SuboficialSubAyudante,
        SegundoAyudante,
        Bombero,
        Aspirante,
    }

}

}



