@using Vista.Data.ViewModels.Incendios;
@using Vista.Data.ViewModels.Personal;


<div class="inpt-cont">
    <label class="inpt-cont--lbl">Tipo de Servicio</label>
    <EnumSelect TEnum="TipoServicioSalida" @bind-Value="@Model.TipoServicio" />
</div>
<div class="inpt-cont-inline">
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Causa</label>
        <EnumSelect TEnum="TipoCausaIncendio" @bind-Value="@Model.SuperficieAfectadaCausa" />
    </div>
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Dimensiones</label>
        <EnumSelect TEnum="TipoSuperficie" @bind-Value="@Model.TipoSuperficieAfectada" />
    </div>
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Tipo de Evacuacion</label>
        <EnumSelect TEnum="TipoEvacuacion" @bind-Value="@Model.TipoEvacuacion" />
    </div>
</div>
<div class="inpt-cont">
    <label class="inpt-cont--lbl">Detalles</label>
    <TextArea Placeholder="Descripcion" @bind-Value="Model.DetalleSuperficieAfectadaIncendio" />
</div>
<div class="inpt-cont-inline">
    <div class="inpt-cont">
        <Checkbox @bind-Checked="Model.DeteccionAutomaticaId">Deteccion Automatica</Checkbox>
    </div>
    <div class="inpt-cont">
        <Checkbox @bind-Checked="Model.Extintor">Extintor</Checkbox>
    </div>
    <div class="inpt-cont">
        <Checkbox @bind-Checked="Model.Hidrante">Hidrante</Checkbox>
    </div>
</div>

@code {
    [Parameter] public IncendioViewModels Model { get; set; }
    [Parameter] public string animationClass { get; set; }
    [Parameter] public EventCallback<DateTimeChangedEventArgs> OnChange { get; set; }
}