@using Vista.Data.ViewModels.Incendios;
@using Vista.Data.ViewModels.Personal;

<div class="inpt-cont">
    <label class="inpt-cont--lbl">Nombre del establecimiento:</label>
    <Input @bind-Value="Model.NombreEstablecimiento" />
</div>
<div class="inpt-cont">
    <label class="inpt-cont--lbl">Cantidad pisos:</label>
    <AntDesign.InputNumber @bind-Value="Model.CantidadPisos" />
</div>
<div class="inpt-cont">
    <label class="inpt-cont--lbl">Pisos afectados:</label>
    <AntDesign.InputNumber @bind-Value="Model.PisoAfectado" />
</div>
<div class="inpt-cont">
    <label class="inpt-cont--lbl">Cantidad ambientes:</label>
    <AntDesign.InputNumber @bind-Value="Model.CantidadAmbientes" />
</div>
<div class="inpt-cont">
    <label class="inpt-cont--lbl">Tipo Techo:</label>
    <EnumSelect TEnum="TipoIncendioTecho?" @bind-Value="@Model.TipoTecho" />
    @if (Model.TipoTecho == TipoIncendioTecho.Otro)
    {
        <FormItem Label="Otro Techo">
            <Input @bind-Value="@Model.OtroTecho" />
        </FormItem>
    }
</div>
<div class="inpt-cont">
    <label class="inpt-cont--lbl">Tipo Abertura:</label>
    <EnumSelect TEnum="TipoIncendioAbertura?" @bind-Value="@Model.TipoAbertura" />
    @if (Model.TipoAbertura == TipoIncendioAbertura.Otro)
    {
        <FormItem Label="Otro Abertura">
            <Input @bind-Value="@Model.OtraAbertura" />
        </FormItem>
    }
</div>
@code {
    [Parameter] public IncendioViewModels Model { get; set; }
    [Parameter] public string animationClass { get; set; }
    [Parameter] public EventCallback<DateTimeChangedEventArgs> OnChange { get; set; }
}