@implements IDisposable
@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/Herramientas/Deposito"
@inject IMessageService message
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json;
<style>

</style>
@* <div style="margin-top: 2em; width: 80%; ">
    <Table DataSource="DepositoActivoVM" Bordered Responsive Style="min-width: 320px!important;" PageSize="6">
            <TitleTemplate>

            </TitleTemplate>
            <ColumnDefinitions Context="muestra">
                <PropertyColumn Property="c=>c." Sortable></PropertyColumn>
        </ColumnDefinitions>
    </Table>
</div> *@

@code {
    BomberosDbContext Context;

    public class DepositoVM
    {
        public int MaterialId { get; set; }

        public DateTime FechaAlta { get; set; }
        public string? Descripcion { get; set; }
        public string? Codigo { get; set; }
        public string? Stock { get; set; }

        public TipoRubro Rubro { get; set; }
    }


    public DepositoVM DepositoVm = new();
    List<DepositoVM> DepositoActivoVM = new();


    protected override async Task OnInitializedAsync()
    {
        await Init();
    }
    private async Task Init()
    {
        DepositoVm = new();
        Context = DbFactory.CreateDbContext();
    }
    public void Dispose()
    {
        Context?.Dispose();
    }

}